body {
		font-family: 'Noto Sans', 'Open Sans', Helvetica, Arial, sans-serif;
		margin: 0 auto;
		padding: 1em 1em 0.5em 1em;
		max-width: 50em;
		text-align: justify;
}

header { background: whitesmoke; border: 1px silver solid; padding: 1em; }
header blockquote { margin: 0 5%; }
header h1 { font-size: 1.7em; margin: 0; }
header h2 { margin-top: 0; font-size: 1.0em; }
header p { margin: 0; overflow-wrap: break-word; hyphens: auto; }
header p#dl { text-align: right; font-size: smaller; padding-top: 0.5em; }
header p#dl a { padding-top: 0.5em; }

h1, h2, h3 { color: #FD3D3D; text-align: left; }
li, p { text-align: inherit; }
a { color: #FD3D3D; text-decoration: none; }
hr { border-width: 0px; border-top: 1px solid #FD3D3D; }

a.an { 
		display: none; 
		min-width: .75em; 
		margin-left: -.75em; 
		color: silver;  
		font-family: 'Noto Serif', 'Open Serif', times, serif;
}
a.an:hover { color: gray; } 
h1:hover a.an, h2:hover a.an, h3:hover a.an { display: inline-block; }

table { font-size: 90%; margin: 1em 0; text-align: left; border-collapse: collapse; }
th, td { padding: 4px; border: 1px gray solid; }
thead th { background: gainsboro; }
th { background: whitesmoke; }
table a { color: blue; }
table a:visited { color: purple; }

footer {
	border-top: 1px solid #FD3D3D;
	margin-top: 0.5em;
	padding-top: 0.5em;
	text-align: right;
	font-size: small;
}

/* mobile */
@media (max-width: 54em) {
		a.an {
				min-width: unset;
				float: right;
				display: inline-block;
		}
}
