body {
		background: #FFF;
		color: #000;
		font-family: 'Noto Sans', 'Open Sans', Helvetica, Arial, sans-serif;
		margin: 1em auto 0 auto;
		max-width: 50em;
}

nav {
		font-size: 0.75em;
		width: calc(100%-8px);
		border-top: 1px dotted #FD3D3D;
		text-align: right;
		padding: 4px;
		margin-top: 1em;
}

nav a { color: inherit; text-decoration: none; }

header.topbanner {
		background: #FD3D3D;
		margin: auto;
		padding: .5em;
		text-align: center;
		font-size: 1.25em;
}

header.topbanner h1,h2 { margin: 0em; }

header.topbanner ul {
		margin: 0em;
		padding: 0em;
		font-size: 1.25em;
}

header.topbanner li {
		display: inline;
		padding: 0em;
}

header a {
		color: #000;
		text-decoration: none;
}

header.metadata {
		background: whitesmoke;
		border: 1px silver solid;
		margin-bottom: 1em;
		padding: 1em;
}

header.metadata p { margin: 0; }

header.metadata h1 {
		font-size: 1.7em;
		margin: 0;
}

header.metadata h2 { font-size: 1.0em; }

header.metadata h3 {
		font-size: 1.0em;
		font-weight: normal;
		margin-bottom: 0;
}

main {
		line-height: 1.4;
		margin: 0 auto;
		max-width: 50em;
		padding: 1em 1em 0 1em;
}

h1, h2, h3 {
		color: #FD3D3D;
}

h3 { font-size: 1em; }

li { padding: .4em 0; }

li, p { text-align: justify; }

table { border-collapse: collapse; }
table thead th {
	background: gainsboro;
}
table th, table td {
	border: 1px gray solid;
	padding: 4px;
}
table th {
	text-align: left; 
	background: whitesmoke;	
}
table td a {
	text-decoration: none;
}

code {  font-family: 'Noto Mono', 'Open Mono', "Lucida Console", Monaco, monospace, monospace; }
