body {
		font-family: 'Noto Sans', 'Open Sans', Helvetica, Arial, sans-serif;
		margin: 0 auto;
		padding: 1em 1em 0.5em 1em;
		max-width: 50em;
		text-align: justify;
}

header { background: whitesmoke; border: 1px silver solid; padding: 1em; }
header blockquote { margin: 0 5%; }
header h1 { font-size: 1.7em; margin: 0; }
header h2 { margin-top: 0; font-size: 1.0em; }
header p { margin: 0; overflow-wrap: break-word; hyphens: auto; }
header p#dl { text-align: right; font-size: smaller; padding-top: 0.5em; }
header p#dl a { padding-top: 0.5em; color: #FD3D3D; }

footer a, h1, h2, h3 { color: #FD3D3D; text-align: left; }
a { text-decoration: none; }
li, p { text-align: inherit; }
hr { border-width: 0px; border-top: 1px solid #FD3D3D; }

table { font-size: 90%; margin: 1em 0; text-align: left; border-collapse: collapse; }
th, td { padding: 4px; border: 1px gray solid; }
thead th { background: gainsboro; }
th { background: whitesmoke; }
td a { padding: 4px; }

footer {
	border-top: 1px solid #FD3D3D;
	margin-top: 0.5em;
	padding-top: 0.5em;
	text-align: right;
	font-size: small;
}
